# Regression Predict Student Solution

© Explore Data Science Academy

<!-- ---
### Honour Code

I {**TEDDY, WAWERU**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.  -->

#### *Team 5 Members*
- Teddy Waweru
- Stella Njuki
- MacMunashe
- Ogaga
- Ron

<a id="cont"></a>

## Table of Contents
Introduction, Problem statement

<a href=#one>1. Importing Packages</a>

[1. Importing Packages](#one_title)

<a href=#introduction>1. Introduction</a>

<a href=#two>2. Loading Data</a>

<a href=#executive_summary>2. Executive Summary</a>

<a href=#methodology>3. Methodology</a>

<a href=#four>4. Data Engineering</a>

<a href=#exploratory_data_analysis>4. Exploratory Data Analysis (EDA)</a>

<a href=#data_engineering>5. Data Engineering</a>

<a href=#modelling>5. Modeling</a>

<a href=#model_performance>6. Model Performance</a>

<a href=#model_explanation>7. Model Explanations</a>

## Introduction


### Problem Statement
Expound the issue <br/>
Frame the solution <br/>
Justify the solution <br/>

### _Summary_ <hr>

The data provided is intended to assist with predicting the effect of climatic conditions in Spain on load shortfalls ofrenewable energy  source production against fossil fuels.<br/>
Agendas:
<br/>
Deliverables:
<br/>
Outcomes:
<br/>
Challenges:
<br/>
Future Considerations:
<br/>

## Methodology

 <a id="one"></a>
### 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---

In [2]:
# Libraries for data loading, data manipulation
import pandas as pd

#Libraries for Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale = 1)

# Libraries for data preparation and model building
import statsmodels.formula.api as sm

# Setting global constants to ensure notebook results are reproducible
# PARAMETER_CONSTANT = ###

<a id="two"></a>
### 2. Loading the Datasets
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---

In [4]:
test_df = pd.read_csv('utils/data/df_test.csv')
train_df = pd.read_csv('utils/data/df_train.csv')

<a id="three"></a>
### 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---

Investigating the dataset's contents

In [5]:
    print('Dataset Info: \n {}'.format(train_df.info()))
    print('Dataset Statistical Summary: \n {}'.format(train_df.describe))
    print('Dataset Null Values: \n {}'.format(train_df.isna().sum()))

    train_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8763 non-null   int64
 1   time                  8763 non-null   object
 2   Madrid_wind_speed     8763 non-null   float64
 3   Valencia_wind_deg     8763 non-null   object
 4   Bilbao_rain_1h        8763 non-null   float64
 5   Valencia_wind_speed   8763 non-null   float64
 6   Seville_humidity      8763 non-null   float64
 7   Madrid_humidity       8763 non-null   float64
 8   Bilbao_clouds_all     8763 non-null   float64
 9   Bilbao_wind_speed     8763 non-null   float64
 10  Seville_clouds_all    8763 non-null   float64
 11  Bilbao_wind_deg       8763 non-null   float64
 12  Barcelona_wind_speed  8763 non-null   float64
 13  Barcelona_wind_deg    8763 non-null   float64
 14  Madrid_clouds_all     8763 non-null   float64
 15  Seville_wind_speed    8763 non-null   float64
 16  Barcelona_rain_1h     8763 non-null   float64
 17  Seville_pressure      8763 non-null   object
 18  Seville_rain_1h       8763 non-null   float64
 19  Bilbao_snow_3h        8763 non-null   float64
 20  Barcelona_pressure    8763 non-null   float64
 21  Seville_rain_3h       8763 non-null   float64
 22  Madrid_rain_1h        8763 non-null   float64
 23  Barcelona_rain_3h     8763 non-null   float64
 24  Valencia_snow_3h      8763 non-null   float64
 25  Madrid_weather_id     8763 non-null   float64
 26  Barcelona_weather_id  8763 non-null   float64
 27  Bilbao_pressure       8763 non-null   float64
 28  Seville_weather_id    8763 non-null   float64
 29  Valencia_pressure     6695 non-null   float64
 30  Seville_temp_max      8763 non-null   float64
 31  Madrid_pressure       8763 non-null   float64
 32  Valencia_temp_max     8763 non-null   float64
 33  Valencia_temp         8763 non-null   float64
 34  Bilbao_weather_id     8763 non-null   float64
 35  Seville_temp          8763 non-null   float64
 36  Valencia_humidity     8763 non-null   float64
 37  Valencia_temp_min     8763 non-null   float64
 38  Barcelona_temp_max    8763 non-null   float64
 39  Madrid_temp_max       8763 non-null   float64
 40  Barcelona_temp        8763 non-null   float64
 41  Bilbao_temp_min       8763 non-null   float64
 42  Bilbao_temp           8763 non-null   float64
 43  Barcelona_temp_min    8763 non-null   float64
 44  Bilbao_temp_max       8763 non-null   float64
 45  Seville_temp_min      8763 non-null   float64
 46  Madrid_temp           8763 non-null   float64
 47  Madrid_temp_min       8763 non-null   float64
 48  load_shortfall_3h     8763 non-null   float64
dtypes: float64(45), int64(1), object(3)
memory usage: 3.3+ MB
Dataset Info:
 None
Dataset Statistical Summary:
 <bound method NDFrame.describe of       Unnamed: 0                 time  Madrid_wind_speed Valencia_wind_deg  \
0              0  2015-01-01 03:00:00           0.666667           level_5
1              1  2015-01-01 06:00:00           0.333333          level_10
2              2  2015-01-01 09:00:00           1.000000           level_9
3              3  2015-01-01 12:00:00           1.000000           level_8
4              4  2015-01-01 15:00:00           1.000000           level_7
...          ...                  ...                ...               ...
8758        8758  2017-12-31 09:00:00           1.000000           level_6
8759        8759  2017-12-31 12:00:00           5.000000           level_6
8760        8760  2017-12-31 15:00:00           6.333333           level_9
8761        8761  2017-12-31 18:00:00           7.333333           level_8
8762        8762  2017-12-31 21:00:00           4.333333           level_9

      Bilbao_rain_1h  Valencia_wind_speed  Seville_humidity  Madrid_humidity  \
0                0.0             0.666667         74.333333        64.000000
1                0.0             1.666667         78.333333        64.666667
2                0.0             1.000000         71.333333        64.333333
3                0.0             1.000000         65.333333        56.333333
4                0.0             1.000000         59.000000        57.000000
...              ...                  ...               ...              ...
8758             0.0             2.666667         89.000000        95.666667
8759             0.0             2.000000         82.000000        85.000000
8760             0.4             7.333333         67.666667        71.000000
8761             0.2             7.333333         67.666667        79.000000
8762             0.0             7.000000         78.666667        68.666667

      Bilbao_clouds_all  Bilbao_wind_speed  ...  Madrid_temp_max  \
0              0.000000           1.000000  ...       265.938000
1              0.000000           1.000000  ...       266.386667
2              0.000000           1.000000  ...       272.708667
3              0.000000           1.000000  ...       281.895219
4              2.000000           0.333333  ...       280.678437
...                 ...                ...  ...              ...
8758          56.666667           4.333333  ...       280.816667
8759          26.666667           8.000000  ...       283.483333
8760          63.333333           8.333333  ...       285.150000
8761          63.333333           2.666667  ...       283.483333
8762          20.000000           1.666667  ...       282.150000

      Barcelona_temp  Bilbao_temp_min  Bilbao_temp  Barcelona_temp_min  \
0         281.013000       269.338615   269.338615          281.013000
1         280.561667       270.376000   270.376000          280.561667
2         281.583667       275.027229   275.027229          281.583667
3         283.434104       281.135063   281.135063          283.434104
4         284.213167       282.252063   282.252063          284.213167
...              ...              ...          ...                 ...
8758      281.276667       285.150000   287.573333          280.483333
8759      287.483333       286.483333   288.616667          287.150000
8760      289.816667       283.816667   285.330000          289.150000
8761      287.523333       278.816667   281.410000          286.816667
8762      287.483333       276.816667   281.020000          287.150000

      Bilbao_temp_max  Seville_temp_min Madrid_temp  Madrid_temp_min  \
0          269.338615        274.254667  265.938000       265.938000
1          270.376000        274.945000  266.386667       266.386667
2          275.027229        278.792000  272.708667       272.708667
3          281.135063        285.394000  281.895219       281.895219
4          282.252063        285.513719  280.678437       280.678437
...               ...               ...         ...              ...
8758       290.150000        284.816667  279.686667       278.483333
8759       291.150000        287.150000  282.400000       280.150000
8760       286.816667        289.150000  283.956667       281.150000
8761       284.150000        289.150000  282.666667       280.816667
8762       285.150000        287.483333  281.396667       280.483333

      load_shortfall_3h
0           6715.666667
1           4171.666667
2           4274.666667
3           5075.666667
4           6620.666667
...                 ...
8758         -28.333333
8759        2266.666667
8760         822.000000
8761        -760.000000
8762        2780.666667

[8763 rows x 49 columns]>
Dataset Null Values:
 Unnamed: 0                 0
time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2068
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h          0
dtype: int64

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.0,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.0,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.0,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667

From the output, we determine that:
1. The data contains:
    - 40 *numerical* columns
    - 5 *categorical* columns
2. The columns with **null** values:
    - Seville_pressure: 2048 values

Identifying 'missing' columns. These are columns of weather attributes that are not available for a particular city. <br/>

In [ ]:
#Complete list of all weather attributes for each City in the dataset.
city_weather_attributes = {
    'wind_speed': ['Madrid_wind_speed', 'Valencia_wind_speed', 'Bilbao_wind_speed', 'Barcelona_wind_speed', 'Seville_wind_speed'],
    'wind_deg': ['Madrid_wind_deg', 'Valencia_wind_deg', 'Bilbao_wind_deg', 'Barcelona_wind_deg', 'Seville_wind_deg'],
    'clouds_all': ['Madrid_clouds_all', 'Valencia_clouds_all', 'Bilbao_clouds_all', 'Barcelona_clouds_all', 'Seville_clouds_all'],
    'pressure': ['Madrid_pressure', 'Valencia_pressure', 'Bilbao_pressure', 'Barcelona_pressure', 'Seville_pressure'],
    'rain_3h': ['Madrid_rain_3h', 'Valencia_rain_3h', 'Bilbao_rain_3h', 'Barcelona_rain_3h', 'Seville_rain_3h'],
    'weather_id': ['Madrid_weather_id', 'Valencia_weather_id', 'Bilbao_weather_id', 'Barcelona_weather_id', 'Seville_weather_id'],
    'temp_min': ['Madrid_temp_min', 'Valencia_temp_min', 'Bilbao_temp_min', 'Barcelona_temp_min', 'Seville_temp_min'],
    'temp_max': ['Madrid_temp_max', 'Valencia_temp_max', 'Bilbao_temp_max', 'Barcelona_temp_max', 'Seville_temp_max'],
    'snow_3h': ['Madrid_snow_3h', 'Valencia_snow_3h', 'Bilbao_snow_3h', 'Barcelona_snow_3h', 'Seville_snow_3h'],
    'temp': ['Madrid_temp', 'Valencia_temp', 'Bilbao_temp', 'Barcelona_temp', 'Seville_temp'],
    'rain_1h': ['Madrid_rain_1h', 'Valencia_rain_1h', 'Bilbao_rain_1h', 'Barcelona_rain_1h', 'Seville_rain_1h'],
    'humidity': ['Madrid_humidity', 'Valencia_humidity', 'Bilbao_humidity', 'Barcelona_humidity', 'Seville_humidity'],
}


# Iterative to determine the missing columns
missing_cols = {}
all_cols = []
for key in city_weather_attributes.keys():
    for attribute in city_weather_attributes[key]:
        all_cols.append(attribute)
        if attribute not in train_df.columns:
            if key not in missing_cols.keys():
                missing_cols[key] = []
            missing_cols[key].append(attribute)
            missing_cols[key].sort()
      
missing_cols_df = pd.DataFrame.from_dict(missing_cols, orient = 'index')
missing_cols_df

Data Visualizations

In [ ]:
# plot relevant feature interactions
num_train_feature_cols = [i for i in train_df.columns if train_df[i].dtype == ('float64') and i != 'load_shortfall_3h']    #List of feature columns in train_df
train_feature_cols.sort()
fig, axs = plt.subplots(9,5, figsize=(16,10),)
fig.subplots_adjust(hspace = 0.5, wspace=.2)

i = 0
axs = axs.ravel()

for index, column in enumerate(train_feature_cols) :
    axs[i].set_title("{} vs. Load_shortfall".format(column),fontsize=12)

    axs[i].scatter(x=train_df[column],
                    y=train_df['load_shortfall_3h'],
                    color='#349',edgecolor='k')
    i += 1
    fig.tight_layout(pad=1)
    fig.show()

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

fig = make_subplots(rows = 9,
                    cols = 5)
i, j = 1, 1
for index, column in enumerate(num_train_feature_cols):
    fig.add_trace(
        go.Scatter(x = train_df[column],
                    y = train_df['load_shortfall_3h'],
                    mode = 'markers',
                    # trendline = 'ols'
                    ),
                    row = i,
                    col = j,
                    secondary_y = False
    )
    j += 1
    if j == 6:
        i += 1
        j = 1
    # fig.columns
fig.update_layout(
    autosize = False,
    width = 1600,
    height = 1600
)

fig.show()

The plot does not show any linear relationship between any of the features & the variable to be predicted. <br/>
We can identify a particular outlier point: where load_shortfall_3h > 30,000

In [ ]:
train_df.query('load_shortfall_3h > 30000')

In [ ]:
import warnings
warnings.filterwarnings("ignore")

fig, axs = plt.subplots(9,5, figsize=(16,20),)
fig.subplots_adjust(hspace = 0.5, wspace=.2)

i = 0
axs = axs.ravel()

for index, column in enumerate(train_feature_cols) :
    axs[i].set_title("{} vs. Load Shortfall".format(column.replace('_', ' ')),fontsize=12)

    plot = sns.scatterplot(x = train_df[column],
                            y = train_df['load_shortfall_3h'],
                            ax = axs[i]
                            )
    ylabels = ['{:.0f}'.format(y) + 'K' for y in plot.get_yticks()/1000 ]
    plot.set_yticklabels(ylabels)

    i += 1

fig.tight_layout(pad=1)

In [ ]:
# evaluate correlation

In [ ]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [ ]:
# remove missing values/ features

In [ ]:
# create new features

In [ ]:
# engineer existing features

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [ ]:
# split data

In [ ]:
# create targets and features dataset

In [ ]:
# create one or more ML models

In [ ]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [ ]:
# Compare model performance

In [ ]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic